@use "./variables";
@use "./animation";

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: variables.$bg;
    z-index: 999;

    &.hidden {
        display: none;
        z-index: -1;
    }
    
}

.loading {
    display: block;
    position: relative;
    width: 4em;
    height: 4em;
    padding: 0.5em;
    border: 4px solid variables.$primary;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;

    &::after {
        content: "";
        display: block;
        width: 2em;
        height: 2em;
        padding: 1rem;
        border: 4px solid variables.$primary;
        border-radius: 50%;
        border-left-color: transparent;
        border-right-color: transparent;
    }
}