// text
$primary: #e3e4e8;
$secondary: #a1a4aa;

$caution: #e94a4a;

// hover
$cyan: #61d1ac;

// header
$headerBg: rgba(0, 0, 0, 0.8);
$headerBorder: rgba(255, 255, 255, 0.2);

// body background 
$bg: #0e1015;

// card background
$cards: #14171f;
$cardDetails: rgb(227, 228, 232, 1);

// transparent
$transparent: rgba(255, 255, 255, 0);

// overlay
$overlay: rgba(0, 0, 0, 0.9);

// radial
$radial: rgba(138, 134, 134, 0.5);

// breakpoints
$bk-sscp: 380px;
$bk-scp: 600px;
$bk-cp: 768px;
$bk-tbt: 998px;
$bk-mcmp: 1024px;
$bk-lcmp: 1376px;
$bk-dp: 1920px;