@use "../utilities/variables";

footer {
    position: relative;
    text-align: center;

    .divider {
        width: 100%;
        height: 3px;
        padding: 1rem 6.5rem 0;

        &__line {
            height: inherit;
            background-color: variables.$primary;
        }
    }

    p {
        display: block;
        color: variables.$primary;
        padding: 1rem;
    }
}