@use "../utilities/variables";
@use "../utilities/animation.scss";

.hero1 {
    width: 100%;
    box-sizing: border-box;
    
    & .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 0 2.5rem;
        height: 100vh;
        max-height: 930px;
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
        color: variables.$primary;
        box-sizing: border-box;

        &::before {
            // create an image since radial don't work much on mobile device and exceeded to designated width
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // clip-path: circle(50% at 50% 50%);
            // background: url(../../images/radial.png) center center no-repeat;
            background: radial-gradient(variables.$radial, variables.$bg);
            background-size: contain;
            background-color: variables.$transparent;
            height: 300px;
            width: 300px;
            // background: radial-gradient(circle at center center, variables.$radial 0%, #0e1015 70%);
            border-radius: 50%;
            opacity: 5;
            z-index: -2;
        }
    }

    & .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    h1 {
        font-size: 2rem;
        font-weight: 600;
    }

    & .typed-text {
        font-weight: 800;
        color: variables.$cyan;
    }
    
    & .cursor {
        display: inline-block;
        width: 0.0625em;
        background: variables.$primary;
        animation: blink .4s infinite;
    
        &.typing {
            animation: none;
        }
    }
}

